<% if @user.errors.any? %>
	<div class="show_error">
		<div class="alert alert-danger">
			The form contains <%= pluralize(@user.errors.count, 'error') %>	
		</div> <!-- /.alert-danger -->

		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
			<% end %>
		</ul>
	</div> <!-- /.show_error -->
<% end %>
